style_presentation.css
Task2/about.html
Task2/contact.html
Task2/index.html
Task2/style1.css
Task2/style2.css
Task2/style3.css
Task2/Layout1/about.html
Task2/Layout1/Contact.html
Task2/Layout1/index.html
Task2/Layout1/Website_Design1.pdf
Task2/Layout1/CSS/task2_layout1.css
Task2/Layout1/Images/design1_image1.jpg
Task2/Layout1/Images/design2_image1.jpg
Task2/Layout1/Images/nysl_logo.png
Task2/Layout2/about.html
Task2/Layout2/contact.html
Task2/Layout2/index.html
Task2/Layout2/Website_Design2.pdf
Task2/Layout2/CSS/task2_layout2.css
Task2/Layout2/Images/design1_image1.jpg
Task2/Layout2/Images/design2_image1.jpg
Task2/Layout2/Images/nysl_logo.png
Task3/Game_Info.pdf
Task3/games.html
Task3/NYSL_Rules.pdf
Task3/rules_policies.html
Task3/styles_games.css
Task3/styles_rules.css
Task4/form.html
Task4/Registration_Form.pdf
Task4/styles_form.css
presentation.html
